In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('E:/statistics/data/titanic.csv')
df

,PassengerId,Survived,Pclass,Name,gender,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [3]:
df.isnull().sum()     #count null column

PassengerId      0
Survived         0
Pclass           0
Name             0
gender           0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [4]:
df.Survived.value_counts()    #count of survived passengers

Survived
0    549
1    342
Name: count, dtype: int64

In [5]:
342/891   # 38 percent passenger survive

0.3838383838383838

In [9]:
df.Pclass.value_counts()

Pclass
3    491
1    216
2    184
Name: count, dtype: int64

In [6]:
df[(df.Survived==1) & (df.Pclass==3)].shape   #survived from the each Pclass

(119, 12)

In [7]:
df[(df.Survived==1) & (df.Pclass==2)].shape

(87, 12)

In [8]:
df[(df.Survived==1) & (df.Pclass==1)].shape

(136, 12)

In [10]:
119/491   # 24% survive frpm Pclass-3

0.24236252545824846

In [11]:
136/216     # 62% survive from Pclass-1

0.6296296296296297

In [12]:
87/184       # 47 % survive from Pclass-2

0.47282608695652173

In [13]:
df.gender.value_counts()    # total number of gender

gender
male      577
female    314
Name: count, dtype: int64

In [17]:
df[(df.Survived==1) & (df.gender=='male')].shape   #survived male

(109, 12)

In [15]:
df[(df.Survived==1) & (df.gender=='female')].shape    #survived female

(233, 12)

In [18]:
109/577         # 19% male survived

0.18890814558058924

In [19]:
233/314           # 74% female survived

0.7420382165605095

In [20]:
df[(df.Pclass==1) & (df.gender=='female')].shape

(94, 12)

In [21]:
df[(df.Pclass==1) & (df.gender=='female') & (df.Survived==1)].shape

(91, 12)

In [22]:
91/94         # 97% female survived from the Pclass-1

0.9680851063829787

In [25]:
df[(df.Age>=60)].shape

(26, 12)

In [26]:
df[(df.Age>=60) & (df.Survived==1)].shape

(7, 12)

In [27]:
7/26           #27% of survived above 60 age

0.2692307692307692

In [28]:
df[(df['Age'].between (30,50))].shape    # 42% survive age group between 30 to 50

(266, 12)

In [29]:
df[(df['Age'].between (30,50) & (df.Survived==1))].shape

(112, 12)

In [30]:
112/266

0.42105263157894735